name: Run tests

on: [push, pull_request, workflow_call]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: 20

      - run: yarn install --immutable 
      - run: yarn test
